@model IEnumerable<FreeCodeCamp_ASP.NET_MVCTutorial.Models.Expense>

<h2>My Expenses</h2>

<div class="container">
    <table class="table table-bordered">
        <thead class="table-light">
            <tr>
                <th>Description</th>
                <th>Amount</th>
                <th>Category</th>
                <th>Description</th>
                <th>Date</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Description</td>
                    <td>@item.Amount Kr</td>
                    <td>@item.Category</td>
                    <td>@item.Date.ToString("d MMM yyyy")</td>
                </tr>    
            }
        </tbody>
</table>
</div>